openapi: "3.0.0"
info:
  title: Gasyard SDK API
  version: 1.0.0
  description: API documentation for Gasyard Bridge SDK

servers:
  - url: https://api.gasyard.fi
    description: Production server

  - url: http://localhost:3000
    description: Local server

tags:
  - name: SDK V2
    description: Enhanced Endpoints related to bridging assets using the Gasyard SDK

  - name: SDK
    description: Endpoints related to bridging assets using the Gasyard SDK

paths:
  /api/sdk/v2/config:
    get:
      tags:
        - SDK V2
      summary: Config
      description: Get config data for bridge tokens
      parameters:
        - in: header
          name: x-api-key
          required: true
          schema:
            type: string
          description: API key for authentication
        - in: query
          name: chainID
          required: false
          schema:
            type: integer
            enum: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            default: null
          description: |
            Network ID of the source chain. Options:
            Available options:
              - 1: Ethereum
              - 2: Base
              - 3: BNB
              - 4: Arbitrum
              - 5: HyperLiquid
              - 6: Movement
              - 7: Solana
              - 8: Bera
              - 9: Sei
              - 10: Polygon
      responses:
        "200":
          description: Successful bridge request
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Bad request (missing or invalid parameters)
          content:
            application/json:
              schema:
                type: object
                example:
                  message: error message
        "401":
          description: Unauthorized (invalid API key)
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthorized Access
        "500":
          description: Internal server error

  /api/sdk/v2/quote:
    get:
      tags:
        - SDK V2
      summary: Quote
      description: Get quote data for bridge tokens
      parameters:
        - in: header
          name: x-api-key
          required: true
          schema:
            type: string
          description: API key for authentication
        - in: query
          name: outputNetwork
          required: true
          schema:
            type: integer
            enum: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
          description: |
            Network ID of the source chain. Options:
            Available options:
              - 1: Ethereum
              - 2: Base
              - 3: BNB
              - 4: Arbitrum
              - 5: HyperLiquid
              - 6: Movement
              - 7: Solana
              - 8: Bera
              - 9: Sei
              - 10: Polygon

        - in: query
          name: inputNetwork
          required: true
          schema:
            type: integer
            enum: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
          description: Network ID of the source chain

        - in: query
          name: outputTokenContract
          required: false
          schema:
            type: string
          description: Token Contract of ouptut chain

        - in: query
          name: inputTokenContract
          required: false
          schema:
            type: string
          description: Token Contract of input chain

        - in: query
          name: inputTokenAmount
          required: true
          schema:
            type: number
          description: Amount of tokens to bridge (in wei)

        - in: query
          name: sourceAddress
          required: true
          schema:
            type: string
          description: Address of Sender

        - in: query
          name: destinationAddress
          required: true
          schema:
            type: string
          description: Address of receiever

        - in: query
          name: slippage
          required: false
          schema:
            type: number
          description: Slippage for quote in BPS

        - in: query
          name: showBridgeData
          required: false
          schema:
            type: boolean
          description: Flag to get bridge data - default is True

      responses:
        "200":
          description: Successful bridge request
          content:
            application/json:
              schema:
                type: object
                example:
                  message: success
                  inputTokenAmount: 123
                  outputTokenAmount: 123
                  outputValueInUSD: 12.34
                  feesInToken: 123
                  feesInUSD: 0.123
                  rewardPoints: 1.23
                  priceImpact: 0.12
                  minimumOutput: 123
                  transaction: [data: { "0x123..." }]
        "400":
          description: Bad request (missing or invalid parameters)
          content:
            application/json:
              schema:
                type: object
                example:
                  message: error message
        "401":
          description: Unauthorized (invalid API key)
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthorized Access
        "500":
          description: Internal server error

  /api/sdk/status/{txid}:
    get:
      tags:
        - SDK V2
      summary: Order Status
      description: Get Order Status
      parameters:
        - in: header
          name: x-api-key
          required: true
          schema:
            type: string
          description: API key for authentication
        - in: path
          name: txid
          required: false
          schema:
            type: string
            default: null
          description: "Transaction Document id"
        - in: query
          name: sourceHash
          required: true
          schema:
            type: string
          description: Input Hash
        - in: query
          name: sortBy
          required: false
          schema:
            type: number
          description: Sort 0 for ascending, 1 for descending
        - in: query
          name: limit
          required: false
          schema:
            type: number
          description: Limit per page
        - in: query
          name: page
          required: false
          schema:
            type: number
          description: Page no.

      responses:
        "200":
          description: Successful Transaction status
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Bad request (missing or invalid parameters)
          content:
            application/json:
              schema:
                type: object
                example:
                  message: error message
        "401":
          description: Unauthorized (invalid API key)
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthorized Access
        "500":
          description: Internal server error

  /api/sdk/config:
    get:
      tags:
        - SDK
      summary: Config
      description: Get config data for bridge tokens
      parameters:
        - in: header
          name: x-api-key
          required: true
          schema:
            type: string
          description: API key for authentication
        - in: query
          name: chainID
          required: false
          schema:
            type: integer
            enum: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
            default: null
          description: |
            Network ID of the source chain. Options:
            Available options:
              - 1: Ethereum
              - 2: Base
              - 3: BNB
              - 4: Arbitrum
              - 5: HyperLiquid
              - 6: Movement
              - 7: Solana
              - 8: Bera
              - 9: Sei
              - 10: Polygon
      responses:
        "200":
          description: Successful bridge request
          content:
            application/json:
              schema:
                type: object
        "400":
          description: Bad request (missing or invalid parameters)
          content:
            application/json:
              schema:
                type: object
                example:
                  message: error message
        "401":
          description: Unauthorized (invalid API key)
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthorized Access
        "500":
          description: Internal server error

  /api/sdk/quote:
    get:
      tags:
        - SDK
      summary: Get quote
      description: Get quote data for bridge tokens
      parameters:
        - in: header
          name: x-api-key
          required: true
          schema:
            type: string
          description: API key for authentication
        - in: query
          name: outputNetwork
          required: true
          schema:
            type: integer
            enum: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
          description: |
            Network ID of the source chain. Options:
            Available options:
              - 1: Ethereum
              - 2: Base
              - 3: BNB
              - 4: Arbitrum
              - 5: HyperLiquid
              - 6: Movement
              - 7: Solana
              - 8: Bera
              - 9: Sei
              - 10: Polygon

        - in: query
          name: inputNetwork
          required: true
          schema:
            type: integer
            enum: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
          description: Network ID of the source chain

        - in: query
          name: outputTokenContract
          required: false
          schema:
            type: string
          description: Token Contract of ouptut chain

        - in: query
          name: inputTokenContract
          required: false
          schema:
            type: string
          description: Token Contract of input chain

        - in: query
          name: inputTokenAmount
          required: true
          schema:
            type: number
          description: Amount of tokens to bridge (in wei)

      responses:
        "200":
          description: Successful bridge request
          content:
            application/json:
              schema:
                type: object
                example:
                  message: success
                  inputTokenAmount: 123
                  outputTokenAmount: 123
                  outputValueInUSD: 12.34
                  feesInToken: 123
                  feesInUSD: 0.123
                  rewardPoints: 1.23
        "400":
          description: Bad request (missing or invalid parameters)
          content:
            application/json:
              schema:
                type: object
                example:
                  message: error message
        "401":
          description: Unauthorized (invalid API key)
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthorized Access
        "500":
          description: Internal server error

  /api/sdk/bridge:
    get:
      tags:
        - SDK
      summary: Initiate bridge data
      description: Bridges tokens from source to destination chain using SDK.
      parameters:
        - in: header
          name: x-api-key
          required: true
          schema:
            type: string
          description: API key for authentication

        - in: query
          name: sourceNetwork
          required: true
          schema:
            type: integer
            enum: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
          description: |
            Network ID of the source chain. Options:
            Available options:
              - 1: Ethereum
              - 2: Base
              - 3: BNB
              - 4: Arbitrum
              - 5: HyperLiquid
              - 6: Movement
              - 7: Solana
              - 8: Bera
              - 9: Sei
              - 10: Polygon

        - in: query
          name: destinationNetwork
          required: true
          schema:
            type: integer
            enum: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
          description: Network ID of the destination chain

        - in: query
          name: tokenOutAddress
          required: true
          schema:
            type: string
          description: Token address on the destination chain

        - in: query
          name: destinationAddress
          required: true
          schema:
            type: string
          description: User wallet address on the destination chain

        - in: query
          name: tokenInAddress
          required: true
          schema:
            type: string
          description: Token address on the source chain

        - in: query
          name: sourceTokenAmount
          required: true
          schema:
            type: string
          description: Amount of tokens to bridge (in wei)

        - in: query
          name: sourceAddress
          required: true
          schema:
            type: string
          description: User wallet address on the source chain

      responses:
        "200":
          description: Successful bridge request
          content:
            application/json:
              schema:
                type: object
                example:
                  message: success
                  transaction:
                    data: "0x123..."
                    to: "0x123.."
        "400":
          description: Bad request (missing or invalid parameters)
          content:
            application/json:
              schema:
                type: object
                example:
                  message: error message
        "401":
          description: Unauthorized (invalid API key)
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthorized Access
        "500":
          description: Internal server error

  /api/sdk/balance:
    get:
      tags:
        - SDK
      summary: Get balance
      description: Get portfolio balance for user Address
      parameters:
        - in: header
          name: x-api-key
          required: true
          schema:
            type: string
          description: API key for authentication
        - in: query
          name: userAddress
          required: true
          schema:
            type: string
          description: "address of user "

      responses:
        "200":
          description: Successful bridge request
          content:
            application/json:
              schema:
                type: object
                example:
                  message: success
                  walletAssets: AssetBalance
        "400":
          description: Bad request (missing or invalid parameters)
          content:
            application/json:
              schema:
                type: object
                example:
                  message: error message
        "401":
          description: Unauthorized (invalid API key)
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthorized Access
        "500":
          description: Internal server error
